body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px; 
}

h2 {
    margin-top: 40px;
    color: #004a76;
    font-weight: 900; }

#freeconsultbtn {
    margin-right: 10%;
}

#jumbotron {
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  background-color: #ffdd9f;
}
.jumbocotainer {
  min-width: 100%;
} 

#consultSubmitBbutton {
  background-color: #007e9c;
  font-weight: 700; 
  margin-right: 15%;
  margin-bottom: 15%;
}
  
.site-footer {
  background-image: linear-gradient(to bottom, #ffdd9f, white);
  padding: 20px 0;
 }



.navbar {
  background-color: #ffdd9f;
  font-weight: 500; 
}

.navLink {
  padding-right: 5px;
  padding-left: 5px; 
  font-size: 22px;
  color: grey;
}

.active {
    color: black;
}

.aboutUsTopDiv {
    margin-top: 0;
}

h3 {
    color: #f0533a;
    font-weight: 600; 
    font-size: 30px;
}

.home-p {
    font-size: 22px;
}
.content-row {
    margin-bottom: 30px; }

h5 {
    font-size: 26px !important;
    color: #007e9c; 
    margin-top: 15px !important ;
}

.footer-link {
    color: #004a76 !important; }

.aboutush3 {
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
    font-weight: 600;
    padding-top: 35px; }

.blocksbackground {
    width: 100%;
    height: 480px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("images/blocksbackground.jpeg");
    opacity: 0.2;
    z-index: -2; 
}

.location {
    color: #f0533a;
    font-weight: 600;
    font-size: 24px; }
    
@media (max-width: 992px) {
    .locationimage {
        width: 80px; }
    .location {
        font-size: 20px; } 
    .blocksbackground {
        height: 400px;
    }
    .aboutush3 {
        padding-top: 25px; 
        font-size: 35px;
    }

}

.meetTeamh4 {
    padding-top: 35px;
}

h4 {
    font-size: 28px; }
  

.meet-team-p {
    font-size: 16px; }

p {
    font-size: 20px; 
}

.letUsKnowButton {
    background-color: #007e9c !important;
    margin-left: 5px;
}

.modal-body {
    padding-bottom: 0 !important;
}

.ModalButton {
    margin: auto !important;
    
}

.ModalContactP {
    margin: auto;
}

.in-text-link {
    color: #00b7b2; }
  
.milestone-title {
color: #007e9c;
font-size: 22px; }

.blogtitle {
    font-size: 22px;
    color: #f0533a;
    margin-bottom: 0px;
}

.bloglinks {
    color: black;
    font-size: 16px;
}

.blog-title {
    margin-top: 30px;
    text-align: center;
    color: #007e9c; }

#blogNav {
    background-color: #00b7b2;
}

.contactUsForm {
    margin-top: 10px;
    border: 2px rgba(0, 74, 118, 0.1) solid;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 6px 6px 20px rgba(0, 74, 118, 0.2), -1px -1px 20px rgba(0, 74, 118, 0.2);

}

#commentSubmitButton {
    background-color: #007e9c;
    font-weight: 700; 
   
}

.commentsSection {
    margin-top: 10px;
    border: 2px rgba(0, 74, 118, 0.1) solid;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 6px 6px 20px rgba(0, 74, 118, 0.2), -1px -1px 20px rgba(0, 74, 118, 0.2);
}

.individualComment {
    border: 2px rgba(0, 74, 118, 0.1) solid;
    border-radius: 15px;
}

.center {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    margin-left: -17px !important;
    
}

.label-formatting {
    
    padding-right: 10px;
}